.homeBody {
  margin: 20px;
  display: grid;
  grid-template-columns: 8rem 1.5fr 5fr 8rem;
}
.sidebar {
  grid-column: 2/3;
}
.homeContainer {
  border-left: 1px solid lightgray;
  padding-left: 20px;
}
.image-item {
  padding: 20px 0 20px 20px;
}
